@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "material.color";

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  background: material-color(blue-grey, 50);
}
